:root {
    background-color: var(--color-cyan);
    font-family: 'Jost', serif;

    --color-cyan: #B1D9E1;
    --color-magenta: #7A89DC;
    --color-green: #2E9E6F;
    --color-red: #D64550;

    --font-size-regular: 24px;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

