# Корень
Картинки товаров
.idea

# Python
\server\app\db.sqlite3
\server\app\app\settings.py

\server\app\venv
\server\app\media


# Vue
\client-vue\app\.vscode
\client-vue\app\node_modules

# React
\client-react\app\.vscode
\client-react\app\node_modules
